

.art-wrapper
{
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.art-info
{
    width: 100%;
    height: 100px;
}

.art-title
{
    text-transform: uppercase;
}

.art-author
{
    
}

.art-image
{
    position: absolute;
    margin: auto;
}