.gallery-title
{
    text-align: center;
}

.gallery-title h1
{
    font-size: 110px;
}

.sort
{
    min-height: 150px;
}

.sort-option:first-child
{
    background: black;
    color: white;
    cursor: default;
}

.sort-option:last-child
{
    border-right: none;
}

.sort-option
{
    text-align: center;
    padding: 5px;
    font-size: 22px;
    float: left;
    min-width: 120px;
    border-right: 1px solid black;
    cursor: pointer;
}

.sort-option-secondary
{
    padding: 5px 20px 5px 0;
    font-size: 22px;
    float: left;
    cursor: pointer;
}

.no-border
{
    border: none;
}

.art-pagination
{
    margin-bottom: 150px;
}

.art-pagination p
{
    padding: 10px;
    line-height: 15px;
    font-size: 22px;
    display: inline;
}

.art-pagination a p
{
    border-right: 1px solid black;
    cursor: pointer;
}

.art-pagination a p:last-child
{
    border-right: none;
}

/* .art-pagination a:first-child:before
{
    content: "< ";
}

.art-pagination a:last-child:after
{
    content: " >";
} */


.art-pagination a
{
    text-decoration: none;
    color: black;
}

a
{
    color: black;
    text-decoration: none;
}


@media (max-width: 576px)
{
    .gallery-title h1
    {
        font-size: 70px;
    }
}