.gallery-title
{
    text-align: center;
}

.sort
{
    min-height: 150px;
}

.gallery-title h1
{
    font-size: 110px;
}

.sort-option:first-child
{
    background: black;
    color: white;
    cursor: default;
}

.sort-option:last-child
{
    border-right: none;
}

.sort-option
{
    text-align: center;
    padding: 5px;
    font-size: 22px;
    float: left;
    min-width: 120px;
    border-right: 1px solid black;
    cursor: pointer;
}