<div class="row">
    <div class="col-12 gallery-title mb-5">
        <h1 class="marvel">GALLERY</h1>
    </div>

    <div class="col-12 sort">
        <div class="row">
            <div class="col-12 mb-2">
                <div class="sort-option">SORT BY:</div>
                <a routerLink="/gallery/all/1" class="sort-option">
                    <div [ngClass]="{'text-underline': sorttype == 'all'}">ALL</div>
                </a>
                <a routerLink="/gallery/kind/all/1" class="sort-option">
                    <div [ngClass]="{'text-underline': sorttype == 'kind'}">KIND</div>
                </a>
                <a routerLink="/gallery/artist/all/1" class="sort-option">
                    <div [ngClass]="{'text-underline': sorttype == 'artist'}">ARTIST</div>
                </a>
                <div class="sort-option">YEAR</div>
            </div>
        </div>

        <div class="row animated fadeIn" *ngIf="sorttype == 'kind'">
            <div class="col-12">
                <a *ngFor="let category of categories" routerLink="/gallery/kind/{{category.name}}/1" class="sort-option-secondary">
                    <div class="text-uppercase" [ngClass]="{'text-underline': sortvar1 == category.name}"><p>{{category.name}}</p></div>
                </a>
            </div>
        </div>

        <div class="row animated fadeIn" *ngIf="sorttype == 'artist'">
            <div class="col-12">
                <a *ngFor="let author of authors" routerLink="/gallery/artist/{{author.name + '-' + author.surname}}/1" class="sort-option-secondary">
                    <div [ngClass]="{'text-underline': sortvar1 == author.name + '-' + author.surname}"><p>{{author.name + " " + author.surname}}</p></div>
                </a>
            </div>
        </div>

    </div>



    <a *ngFor="let work of allWorks?.works" class="col-12 col-md-6 col-lg-4 col-xl-3" routerLink="/artwork/{{sharedService.DecodeAndRemoveWhite(work.title)}}/{{work.id}}">
        <app-art  
        [thumbnailUrl]="work.thumbnail_url"
        [title]="work.title" 
        [price]="work.price" 
        [author]="work.author_name + ' ' + work.author_surname" 
        [category]="work.category"
        >
        </app-art>
    </a>

    <div class="col-12 art-pagination text-center mt-5" *ngIf="totalPages != 1">
        <a *ngFor="let page of totalPages" routerLink="/gallery/{{CurrentUrl()}}/{{page}}"><p [ngClass]="{'text-underline': page == currentPage}">{{page}}</p></a>
    </div>
</div>
