<div class="row mb-5">
  <h4 class="mb-3">Manage artworks:</h4>

  <div class="work mb-4 pt-2 col-12" *ngFor="let work of works; let i = index">
    <div class="row">
      <div class="col-6 col-sm-3 col-md-2 col-lg-2 mb-2 work-wrapper">
        <img src="{{work.thumbnail_url}}"/>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-2">
        {{ sharedService.Decode(work.title) }}
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-2">
        <p [ngClass]="{'text-success': work.active == true, 'text-danger': work.active == false}">{{ IsActive(i) }}</p>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-2">
        <button class="btn" (click)="Activation(work.active, work.id, i)" [ngClass]="{'btn-warning': work.active == true, 'btn-success': work.active == false}" [disabled]="uploading">{{ GetActivateButtonText(i) }}</button>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-2">
        <button class="btn btn-danger" (click)="DeleteArtworkClicked(work.id, sharedService.Decode(work.title), i)" [disabled]="uploading">Delete</button>
      </div>
    </div>
  </div>

</div>

<app-confirm #confirm [question]="question" (OnConfirm)="Confirm($event)"></app-confirm>

