<div class="row pt-5 text-center">

  <div class="col-12">
    <h2 class="mb-5">Welcome to Art Shop administration dashboard!</h2>
  </div>

  <a routerLink="/add-art" class="col-6 col-md-4 col-xl-3">
    <div class="admin-option bg-success">
        <p class="pt-5">ADD NEW ART</p>
        <i class="fa fa-deviantart" aria-hidden="true"></i>      
      </div>
  </a>

  <div class="col-6 col-md-4 col-xl-3 admin-option bg-success">
    <p class="pt-5">ADD NEW CATEGORY</p>
    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>      
  </div>

  <div class="col-6 col-md-4 col-xl-3 admin-option bg-success">
      <p class="pt-5">ADD NEW ARTIST</p>
      <i class="fa fa-paint-brush" aria-hidden="true"></i>      
    </div>

</div>