/* You can add global styles to this file, and also import other style files */
html, body
{
  padding: 0;
  margin: 0;
  height: 100%;
}

button:hover
{
  cursor: pointer;
}

.art-float-left
{
  float: left;
}

.fs-22
{
  font-size: 22px;
}

.visibility-hidden
{
  visibility: hidden;
}

.uppercase
{
  text-transform: uppercase;
}
