@import url("https://fonts.googleapis.com/css?family=Marvel");
@import url("https://fonts.googleapis.com/css?family=Lato");

html, body
{
  padding: 0;
  margin: 0;
  height: 100%;
}

p, span, div, b, h1, h2, h3, h4, h5
{
  font-family: 'Lato', sans-serif;
}

button:hover
{
  cursor: pointer;
}

.art-float-left
{
  float: left;
}

.fs-22
{
  font-size: 22px;
}

.visibility-hidden
{
  visibility: hidden;
}

.uppercase
{
  text-transform: uppercase;
}

.marvel
{
  font-family: 'Marvel', sans-serif;
}
