<div class="row pt-5 text-center">

    <div class="col-12">
        <h1 class="pb-5 mb-5 text-success">Success!</h1>
    </div>

    <a routerLink="/add-art" class="col-6 col-md-4 col-xl-3">
      <div class="admin-option bg-success">
          <p class="pt-5">ADD ONE MORE</p>
          <i class="fa fa-deviantart" aria-hidden="true"></i>      
        </div>
    </a>

    <a routerLink="/admin-dashboard" class="col-6 col-md-4 col-xl-3">
      <div class="admin-option bg-success">
          <p class="pt-5">ADMIN DASHBOARD</p>
          <i class="fa fa-th-list" aria-hidden="true"></i>          
        </div>
    </a>

</div>